div.offline-hide
  md-card(flex-gt-xs=100, ng-if='$ctrl.usernameListActive')
    md-card-content(layout='column')
      md-input-container
        label Insert list of delegate usernames separated by new line
        textarea(ng-model='$ctrl.usernameInput')
      div
        md-button(ng-click='$ctrl.usernameListActive = false')
          span Cancel 
        span.pull-right
          md-button(ng-click='$ctrl.parseVoteListFromInput("voteList")', ng-disabled='$ctrl.pendingRequests || !$ctrl.usernameInput')
            span Add to vote list
          md-button(ng-click='$ctrl.parseUnvoteListFromInput("unvoteList")', ng-disabled='$ctrl.pendingRequests || !$ctrl.usernameInput')
            span Add to unvote list
    md-progress-linear(md-mode='indeterminate', ng-show='$ctrl.pendingRequests')
  md-card(flex-gt-xs=100)
    md-card-title
      md-card-title-text
        span.md-title(layout='row')
          md-input-container.md-block
            label Search 
            input.search(type='text', name='name', ng-model='search', ng-model-options='{ debounce: 200 }')
          i.material-icons.search-append(ng-click='$ctrl.clearSearch()', ng-if='search') close 
          i.material-icons.search-append(ng-hide='search') search 
      span.pull-right.right-action-buttons
        md-button(ng-click='$ctrl.usernameListActive = true')
          i.material-icons list
          span Input Names
      md-menu.pull-right.right-action-buttons
        md-button.pull-right.my-votes-button(ng-click='$mdOpenMenu()', ng-disabled='$ctrl.votedList.length == 0')
          i.material-icons visibility
          span My votes ({{$ctrl.votedList.length}})
        md-menu-content(width='4')
          md-menu-item.vote-list-item(ng-repeat='(username, delegate) in $ctrl.votedDict')
            md-button(ng-click='$ctrl.addToUnvoteList(delegate)')
              div
                span(ng-bind='username') 
                md-button.md-icon-button.lsk-vote-remove-button(ng-click='$ctrl.unselect(username)')
                  i.material-icons close
      span.pull-right.right-action-buttons
        md-button.vote-button(ng-click='$ctrl.openVoteDialog()')
          i.material-icons done
          span  Vote 
          span(ng-if='$ctrl.voteList.length || $ctrl.unvoteList.length') 
            span (
            span.green-link(ng-if='$ctrl.voteList.length') +{{$ctrl.voteList.length}}
            span(ng-if='$ctrl.voteList.length && $ctrl.unvoteList.length') /
            span.red-link(ng-if='$ctrl.unvoteList.length') -{{$ctrl.unvoteList.length}}
            span )
    md-content(layout='column')
      md-list.table-fixed-width.md-whiteframe-z1
        md-list.delegates-header(layout='row')
          md-subheader(flex='10', flex-xs='15') Vote
          md-subheader(flex='10', flex-xs='15') Rank  
          md-subheader(flex='25', flex-xs='40') Name 
          md-subheader(flex='35', hide-xs) Lisk Address
          md-subheader(flex='10', flex-xs='15') Uptime 
          md-subheader(flex='10', flex-xs='15') Approval 
        md-list(ng-if='!$ctrl.delegates.length && !$ctrl.loading', layout-padding, layout-align='center center')
          span No delegates found
        md-virtual-repeat-container(ng-if='$ctrl.delegates.length', ng-show='$ctrl.delegates.length')
          md-list-item.delegate-row(md-virtual-repeat='delegate in $ctrl.infiniteDelegates', md-on-demand, flex='', ng-class='{"downvote": delegate.status.voted && !delegate.status.selected, "upvote": !delegate.status.voted && delegate.status.selected, "pending": delegate.status.pending}')
            md-list(flex, layout='row')
              md-list-item(flex='10', flex-xs='15')
                md-checkbox(ng-if='delegate', ng-model='delegate.status.selected', ng-change='$ctrl.selectionChange(delegate)', ng-disabled='delegate.status.pending', aria-label='delegate selected for voting')
              md-list-item(flex='10', flex-xs='15', ng-bind='delegate.rank')
              md-list-item(flex='25', flex-xs='40', ng-bind='delegate.username')
              md-list-item(flex='35', hide-xs, ng-bind='delegate.address')
              md-list-item(flex='10', flex-xs='15', ng-bind='delegate.productivity')
              md-list-item(flex='10', flex-xs='15', ng-bind='delegate.approval')
            md-divider(ng-if='!$last', flex='')
      .loading
        md-progress-linear(md-mode='indeterminate', ng-show='$ctrl.loading')
