.tableWrapper {
  margin: -24px -24px 24px -24px;
}

.iconCell {
  width: 24px;
  text-align: right;
}

.iconCellLoading {
  text-align: center;
  font-weight: bold;
}

.isActive {
  background-color: #d6f0ff !important;
  font-weight: bold;
}

.hwDeviceInfo {
  font-weight: normal;
}
