.wrapper {
  padding-top: 50px !important;
  margin-top: 8px;
  padding-bottom: 24px !important;
}

.newAccount {
  margin-right: 8px;
}

.network ul {
  text-align: left;
}

.error {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.field {
  margin-top: 10px;
}

.styleOr {
  border-top: 1px solid #8c8b8b;
  border-bottom: none;
  display: block !important;
}
